# Base project dependencies
-r requirements.txt

# Testing
pytest
pytest-cov
pytest-benchmark

# Type checking
mypy

# Linting / Formatting
ruff

# Packaging & release tools
build
twine

# Security scanning
bandit

# Cross-version testing
tox

# Data engine
pyarrow
